@import "variables";

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

p {
  margin: 0 auto;
}

.container {
  max-width: 1200px;
}

.bg-green {
  background: $green;
}

@import "header";
@import "logo";
@import "blockMain";
@import "features";
@import "zipForm";
@import "surprise";
@import "form";
@import "footer";
@import "buttons";

@import "consumer";
